<a href="https://colab.research.google.com/github/PranavPutsa1006/Data-Science/blob/main/Sort_Values.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**How to Sort Pandas DataFrame?** 

use ***df.sort_values*** in order to sort Pandas DataFrame.

In [ ]:
#create a dataframe as follows:
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

print (df)

            Brand  Price  Year
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013
2      Ford Focus  27000  2018
3         Audi A4  35000  2018

**Sort Pandas DataFrame in an ascending order**

Let’s say that you want to sort the DataFrame, such that the Brand will be displayed in an ascending order. 

In that case, you’ll need to add the following syntax to the code:

df.sort_values(by=['Brand'], inplace=True)

Note that unless specified, the values will be sorted in an ascending order by default.

In [ ]:
# sort - ascending order
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

# sort Brand - ascending order
df.sort_values(by=['Brand'], inplace=True)

print (df)

            Brand  Price  Year
3         Audi A4  35000  2018
2      Ford Focus  27000  2018
0     Honda Civic  22000  2015
1  Toyota Corolla  25000  2013

**Sort Pandas DataFrame in a descending order**

Alternatively, you can sort the Brand column in a descending order. To do that, simply add the condition of ascending=False in this manner:

df.sort_values(by=['Brand'], inplace=True, ascending=False)

In [ ]:
# sort - descending order
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

# sort Brand - descending order
df.sort_values(by=['Brand'], inplace=True, ascending=False)

print (df)

            Brand  Price  Year
1  Toyota Corolla  25000  2013
0     Honda Civic  22000  2015
2      Ford Focus  27000  2018
3         Audi A4  35000  2018

**Sort by multiple columns**

In that case, you may use the following template to sort by multiple columns:

df.sort_values(by=['First Column','Second Column',...], inplace=True)

Suppose that you want to sort by both the ‘Year’ and the ‘Price.’ Since you have two records where the Year is 2018 (i.e., for the Ford Focus and Audi A4), then sorting by a second column – the ‘Price’ column –  would be useful:

 df.sort_values(by=['Year','Price'], inplace=True)

In [ ]:
# sort by multiple columns
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

# sort by multiple columns: Year and Price
df.sort_values(by=['Year','Price'], inplace=True)

print (df)

            Brand  Price  Year
1  Toyota Corolla  25000  2013
0     Honda Civic  22000  2015
2      Ford Focus  27000  2018
3         Audi A4  35000  2018

Note: that the ‘Year’ column takes the priority when performing the sorting, as it was placed in the df.sort_values before the ‘Price’ column.

In [ ]:
#Finally, let’s sort by the columns of ‘Year’ and ‘Brand’ as follows:
#df.sort_values(by=['Year','Brand'], inplace=True)
# sort by multiple columns
import pandas as pd
 
cars = {'Brand': ['Honda Civic','Toyota Corolla','Ford Focus','Audi A4'],
        'Price': [22000,25000,27000,35000],
        'Year': [2015,2013,2018,2018]
        }
 
df = pd.DataFrame(cars, columns= ['Brand', 'Price','Year'])

# sort by multiple columns: Year and Brand
df.sort_values(by=['Year','Brand'], inplace=True)

print (df)

            Brand  Price  Year
1  Toyota Corolla  25000  2013
0     Honda Civic  22000  2015
3         Audi A4  35000  2018
2      Ford Focus  27000  2018

You’ll now see that all the records are sorted by both the year and the brand in an ascending order, so this time Audi A4 would appear prior to Ford Focus.